* {
    box-sizing: border-box;
  }
body {
  height: 100vh;
  background: url('assets/freedom.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Crimson Text', serif;
  color: rgb(25,25,112);
  text-align: center;
}
h1 {
  font-family: "Julius Sans One", sans-serif;
}
q {
  quotes: "“" "”" "‘" "’";
}
q::before {
    content: open-quote;
}
q::after {
    content: close-quote;
}
p.author {
  font-style: italic;
}